*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.75);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    animation: leftright 1.2s forwards cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
    background-color: rgba(126, 68, 68, 0.75);

    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 100px;
    margin-bottom: 15px;
    border-radius: 8px;
    animation: leftright 1.2s forwards cubic-bezier(0.4, 0, 0.2, 1);
}

.nav h2, .nav a, .btnPadrao{
    color: #ffffff;
}

.logo {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
}

.links{
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}


a{
    font-size: 18px;
    text-decoration: none;
}

.nav-linha{
    width: 2px;
    height: 30px;
    background-color: #ffffff;
}

.links button {
    margin-left: 15px;
    border-radius: 0;
}

.btnPadrao{
    background-color: #e74f4f;
    font-size: 16px;

    padding: 9px 15px;
    border-radius: 20px;
    border: 0px;
    box-shadow: -4px 4px 10px 7px rgba(0, 0, 0, 0.2);

    position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 20px;
    height: auto;
}


@keyframes leftright {
    0% {
      transform: translateX(-15px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
@keyframes rightleft {
    0% {
      transform: translateX(15px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes opp {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }