body {
  background-color: #575151;
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.descricao {
  margin-top: 150px;
  margin-left: 150px;

  width: 450px;
  height: 250px;

  display: block;
  align-items: center;

  color: white;
  font-weight: bold;
  font-size: 18px;
}

.descricao h1{
  margin-top: 30px;
}

.descricao p {
  margin-top: 10px;
  font-size: 18px;
}

.formulario {
  color: white;
  font-weight: bold;

  width: 460px;
  height: 420px;
  
  margin-top: 100px;
  margin-left: 100px;

  border: 5px solid rgb(148, 77, 77);
  border-radius: 10px;
  box-shadow:10px 10px 10px rgb(165, 73, 73);
}

.formulario form {
  display: flex;
  flex-direction: column;
}

.formulario h2 {
  margin: 15px 0px;
  text-align: center;
  font-size: 45px;
}

.formulario label{
  margin-left: 20px;
}

.formulario input {
  
  padding: 5px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

  border-radius: 5px;
  border-color: white;

  width: 380px;
}

.formulario button {
  width: 200px;
  left: 200px;
}

.contatos {
  color: white;
  font-weight: bold;

  width: 500px;
  height: 200px;

  margin-top: 150px;
  margin-left: 150px;
}

.contatos p {
  margin-top: 20px;
}

.endereco {
  color: white;
  font-weight: bold;

  width: 500px;
  height: 300px;

  margin-top: 150px;
  margin-left: 100px;
}

.endereco p{
  margin-top: 10px;
}

.h1-sobreposto {
  color: white;
  font-weight: bold;

  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; 
}

.redes-sociais{
  color: white;
  font-weight: bold;

  width: 500px;
  height: 300px;

  margin-left: 150px;
}
